<% if @user.errors.present? %>
	<div class='errors'>
		<p>Whoops! Something went wrong.</p>
		<ul>
		<% @user.errors.full_messages.each do |m| %>
			<li><%= m %>.</li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @user do |f| %>
	<%= f.label :first %>
	<%= f.text_field :first %>
	<%= f.label :last %>
	<%= f.text_field :last %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<% if @user.new_record? %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation, 'Confirm Password' %>
		<%= f.password_field :password_confirmation %>
	<% end %>
	<div class='graduate_benefactor'>
		<%= f.label :graduate, class: 'button', id: 'label_user_graduate' %>
		<%= f.check_box :graduate, style: 'visibility:hidden' %>
		<%= f.label :benefactor, class: 'button', id: 'label_user_benefactor' %>
		<%= f.check_box :benefactor, style: 'visibility:hidden' %>	
	</div>
	<% if @user.new_record? %>	
		<%= f.submit 'Sign Up', class: 'submit' %>
	<% else %>
		<%= f.submit 'Update Profile', class: 'submit' %>
	<% end %>
<% end %>