<h1><%= @user.full_name %><span class='edit_link'><%= link_to 'Edit', edit_user_url(@user.id) %></span></h1>
<%= gravatar_for @user, size: 100 %>
<br/>
<br/>
<%= render 'users/education' %>
<br/>
<%= render 'users/story' %>