<% if @education.errors.present? %>
	<div class='errors'>
		<p>Whoops! Something went wrong.</p>
		<ul>
		<% @education.errors.full_messages.each do |m| %>
			<li><%= m %>.</li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @education do |f| %>
	<%= f.label :school %>
	<%= f.text_field :school %>
	<%= f.label :degree %>
	<%= f.select :degree, [
												[ 'Associate\'s' ],
												[ 'Bachelor\'s' ],
												[ 'Master\'s' ],
												[ 'PhD' ] 
												], include_blank: true %>
	<%= f.label :majors %>
	<%= f.text_field :majors %>
	<p class='hint'>Separate your majors with commas for best results.</p>
	<%= f.label :minors %>
	<%= f.text_field :minors %>
	<p class='hint'>Separate your minors with commas for best results.</p>
	<%= f.label :start_year %>
	<%= f.select :start_year, (1900..2012).to_a.sort_by { |h| -h }, include_blank: true %>		
	<%= f.label :end_year %>
	<%= f.select :end_year, (1900..2012).to_a.sort_by { |h| -h }, include_blank: true %>
	<%= f.label :gpa, 'GPA' %>
	<%= f.select :gpa, 	[ 
											[ '4.0 +' ],
											[ '3.75 - 4.0' ],
											[ '3.50 - 3.75' ],
											[ '3.25 - 3.50' ],
											[ '3.0 - 3.25' ],
											[ '2.75 - 3.0' ],
											[ '2.50 - 2.75' ],
											[ '2.25 - 2.50' ],
											[ '2.0 - 2.25' ],
											[ '1.75 - 2.0' ],
											[ '1.50 - 1.75' ],
											[ '1.25 - 1.50' ],
											[ '1.0 - 1.25' ],
											[ '0.75 - 1.0' ],
											[ '0.50 - 0.75' ],
											[ '0.25 - 0.50' ],
											[ '0.0 - 0.25' ],
											], include_blank: true %>
	<%= f.label :activities %> 
	<%= f.text_area :activities, rows: 5 %>
	<p class='hint'>Separate your activities with commas for best results.</p>
	<%= f.label :honors %>
	<%= f.text_area :honors, rows: 5 %>
	<p class='hint'>Separate your honors with commas for best results.</p>
	<%= f.label :notes %>
	<%= f.text_area :notes, rows: 5 %><br/>
	<% if @education.new_record? %>
		<%= f.submit 'Add Education', class: 'submit' %>
	<% else %>
		<%= f.submit 'Update Education', class: 'submit' %>
	<% end %>
<% end %>